<%- include("partials/header.ejs") %>

<form action="/save" method="post">
  <div class="new_post">
    <a href="/post/new" id="image_post_link" onclick="savePost()"
      ><img id="image_post" src="/Images/save.png" alt="Save"
    /></a>

    <div class="cont_img">
      <div
        id="img1"
        class="img1"
        onclick="file_upload('img1',this)"
        contenteditable="true"
        style="background-image: url('<%= image %>')"
      ></div>
      <h1 contenteditable="true"><%= title %></h1>
      <input
        type="file"
        name="filename"
        id="file_prompt"
        onchange="getFileName(this)"
      />
    </div>
    <div class="content_post" contenteditable="true">
      <p><%= description %></p>
    </div>
  </div>
</form>
<script type="text/javascript">
  var i = "<%= num %>";
  i = parseInt(i);
  function file_upload(elem, event) {
    file_upload_block = document.getElementById("file_prompt");
    file_upload_block.click();

    // window.onload = function() {
    //   file_upload_block.addEventListener('change', getFileName);
    // }
  }

  function getFileName(e) {
    var file = e.files;
    var filename = file[0].name;
    filename = "/Images/" + filename;
    // title.style.backgroundImage = `url(${filename})`;
  }

  function savePost() {
    var postTitle = document.getElementsByTagName("h1")[0].innerText;
    var postContent = document.getElementsByTagName("p")[0].innerText;
    var postImage = "<%= image %>";
    if (postImage == "" || postImage == null) {
      postImage = "/Images/planets.jpg";
    }
    var json_content = {
      id: ++i,
      title: postTitle,
      description: postContent,
      image: postImage,
    };

    document.getElementsByTagName("p")[0].innerText = postContent;
    var json_obj = JSON.stringify(json_content);

    fetch("/save", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: json_obj,
    })
      .then((response) => response.text())
      .then((data) => {
        console.log(data);
      })
      .catch((error) => console.error("Error loading the JSON file:", error));
  }
</script>

<%- include("partials/footer.ejs") %>
