<%- include("partials/header.ejs") %>

<script src="/javascript/animation.js"></script>

<div class="posts">
  <!-- <div class="new_create">

        <i class="fa fa-solid fa-plus"></i>
    </div> -->
  <div class="content2">
    <h2>My Posts</h2>
    <div class="sample-posts">
      <a href="/post/new">
        <div class="post_block new_create">
          <div class="new">
            <i class="fa fa-plus"></i>
            <h3>Create</h3>
          </div>
        </div>
      </a>
      <% for( let i = 0; i < posts_list.length; i++ ) { %>
      <a href="/post">
        <div class="post_block">
          <img src="<%= posts_list[i].image %>" alt="" />
          <h3><%= posts_list[i].title %></h3>
          <!-- <p><%= posts_list[i].description %></p> -->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint est ea
            iusto libero aut quidem ipsum debitis earum aspernatur, perferendis
            recusandae? Adipisci veritatis culpa doloribus alias. At dolorum
            perspiciatis quo. Magnam doloremque ipsam facere, laudantium ea
            deleniti, laboriosam sed nemo architecto quod vero optio pariatur a
            incidunt quis, consectetur similique fuga. Quasi explicabo id
            aliquam, dolore laboriosam enim molestias. Aliquid? Error et
            consectetur nihil sint pariatur quas rerum molestiae repellendus
            illo magni quam aperiam, obcaecati, debitis, eveniet natus? Vel qui
            asperiores iure nisi, velit amet iusto similique labore libero
            ducimus.
          </p>
        </div>
      </a>

      <% } %>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
