<%- include("partials/header.ejs") %>

<script src="/javascript/animation.js"></script>

<div class="posts">
  <!-- <div class="new_create">

        <i class="fa fa-solid fa-plus"></i>
    </div> -->
  <div class="content2">
    <h2>My Posts</h2>
    <div class="sample-posts">
      <a href="/post/new">
        <div class="post_block new_create">
          <div class="new">
            <i class="fa fa-plus"></i>
            <h3>New</h3>
          </div>
        </div>
      </a>
      <% for( let i = 0; i < posts_list.length; i++ ) { %>
        <div class="post_block_edit">
      <a class="new_post_options" href="/new">
        <div class="post_block">
          <img src="<%= posts_list[i].image %>" alt="" />
          <h3><%= posts_list[i].title %></h3>
          <p><%= posts_list[i].description %></p>
          
        </div>
        <div class="hover_block">
          <a class="edit" href="/edit" onclick="postEdit('<%= i %>', '<%= posts_list[i].title %>', '<%= posts_list[i].description %>', '<%= posts_list[i].image %>' )"><img src="/Images/edit.png" alt="Edit" /></a>
          <a class="edit" href="/delete" onclick="postDelete('<%= i %>')"><img src="/Images/delete.png" alt="Delete" /></a>
        </div>
        </div>
      </a>

      <% } %>
    </div>
  </div>
</div>


<script type="text/javascript">
  function postEdit(index, title, description, image) {
    var json_cont = { 
      id: index++,
      title: title,
      description: description,
      image: image,
     };
    var body = JSON.stringify(json_cont);
    fetch('/edit', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: body,
    })
    .then((response) => response.text())
    .then((data) => {
      console.log(data);
    })
      .catch((error) => console.error("Error loading the JSON file:", error));
  }
 
//  delete post function

  function postDelete(index) {
    let body = JSON.stringify({
      id: index,
    })
    fetch('/delete', {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
      },
      body: body,
    })
    .then((response) => response.text())
    .catch((error) => console.log("Error loading the JSON file: "), error);
  }

  
</script>

<%- include("partials/footer.ejs") %>


